<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Korea-U.S. Economic Council.Inc</title>
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_newReset.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_common.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_img-icon.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_basicStyle.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_responsiveStyle.css">
    <script src="/project_kusec/resources/js/jquery-3.1.1.js"></script>
    <script src="/project_kusec/resources/js/common.js"></script>
</head>

<body>
     <!-- header -->
    <!-- <? include '/project_kusec/view/includes/header_eng.html' ?> -->
    <div class="load-html" data-source="/project_kusec/view/includes/header_eng.html"></div>

    <section class="section_eng">
        <div class="contentBox project_introduce">
            <div class="fz40 mainTitle">Key Activities</div>
            <div class="margin-top40">
                <div class="introWrap">
                    <div class="introPic">
                        <img src="/project_kusec/resources/img/project_introducePic01.jpg" alt="Network">
                        <div class="picTitle h2">Network</div>
                    </div>
                    <div class="introTxt">
                        <div class="txtTitle fz20">Network</div>
                        <ul class="fc_999">
                            <li>- The Southeast US – Korea Economic Committee</li>
                            <li>- The Korea-US Pacific States Joint Conference</li>
                        </ul>
                    </div>
                </div>
                <div class="introWrap">
                    <div class="introTxt">
                        <div class="txtTitle fz20">People</div>
                        <ul class="fc_999">
                            <li>- Networking opportunities with key figures from the US (Congress, Government and prominent tanks)
                            </li>
                            <li>- Organizing various events including briefings, workshops and symposiums with key US figures
                            </li>
                        </ul>
                    </div>
                    <div class="introPic">
                        <img src="/project_kusec/resources/img/project_introducePic02.jpg" alt="People">
                        <div class="picTitle h2">People</div>
                    </div>
                </div>
                <div class="introWrap">
                    <div class="introPic">
                        <img src="/project_kusec/resources/img/project_introducePic03.jpg" alt="Exchange">
                        <div class="picTitle h2">Exchange</div>
                    </div>
                    <div class="introTxt">
                        <div class="txtTitle fz20">Exchange</div>
                        <ul class="fc_999">
                            <li>- Fostering economic exchange and ties between Korea and the US states</li>
                            <li>- Providing resources and support to business delegations to and from the US</li>
                            <li>- Promoting economic diplomacy between the US private sector and the Korean private sector through trade &#38;  investment briefings</li>
                        </ul>
                    </div>
                </div>
                <div class="introWrap">
                    <div class="introTxt">
                        <div class="txtTitle fz20">Culture</div>
                        <ul class="fc_999">
                            <li>- Supporting cultural and academic exchanges between the US and Korea </li>
                        </ul>
                    </div>
                    <div class="introPic">
                        <img src="/project_kusec/resources/img/project_introducePic04.jpg" alt="Culture">
                        <div class="picTitle h2">Culture</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- footer -->
    <!-- <? include '/project_kusec/view/includes/footer_eng.html' ?> -->
    <div class="load-html" data-source="/project_kusec/view/includes/footer_eng.html"></div>
</body>

</html>