<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Korea-U.S. Economic Council.Inc</title>
	<link rel="stylesheet" href="/project_kusec/resources/css/kusec_newReset.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_common.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_img-icon.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_basicStyle.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_responsiveStyle.css">
    <script src="/project_kusec/resources/js/jquery-3.1.1.js"></script>
	<script src="/project_kusec/resources/js/common.js"></script>
</head>

<body>
	 <!-- header -->
    <!-- <? include '/project_kusec/view/includes/header_eng.html' ?> -->
    <div class="load-html" data-source="/project_kusec/view/includes/header_eng.html"></div>

	<section class="section_eng">
		<div class="contentBox membership_inquiry">
			<div class="sub03_03_content">
				<form action="messagePage.html" method="post" onsubmit="return formCheck()">
					<div>
						<p class="kusec-fc_point fz20">Name *</p>
						<input type="text" id="name" name="name" placeholder="Enter your name." required/>
					</div>
					<div>
						<p class="kusec-fc_point fz20">Phone number</p>
						<input type="text" id="telephone" name="telephone" placeholder="Please enter only numbers without(-)" 
						oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
					</div>
					<div>
						<p class="kusec-fc_point fz20">Mobile number *</p>
						<input type="text" id="cellphone" name="cellphone" placeholder="Please enter only numbers without(-)" 
						oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" required/>
					</div>
					<div>
						<p class="kusec-fc_point fz20">Email *</p>
						<input type="email" id="email" name="email" placeholder="Enter your Email." required/>
					</div>
					<div>
						<p class="kusec-fc_point fz20">Inquiry *</p>
						<textarea name="content" id="content" placeholder="Enter your inquiry" required></textarea>
					</div>
					<button class="kusec-bgc_point btn_detailView" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</section>
	
    <!-- footer -->
    <!-- <? include '/project_kusec/view/includes/footer_eng.html' ?> -->
    <div class="load-html" data-source="/project_kusec/view/includes/footer_eng.html"></div>
</body>

</html>