.contractTitle,
.contractWrap_web {
  width: 900px;
  margin: 0 auto;
}

.contractTitle {
  text-align: center;
  font-weight: bold;
}

.contractWrap {
  margin: 40px auto;
  /* position: relative; */
}

#us-map {
  display: block;
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  width: 100%;
}

#info-box,
#info-box2 {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  /* font-size: 12px; */
  font-size: 0.857rem;
}

path:hover {
  cursor: pointer;
}

.land {
  fill: #ccc;
  opacity: .6;
}

.land:hover {
  fill: #999;
  opacity: 1;
}

#pathGroup01:hover path {
  /* 한-미 태평양 경제협력위원회 */
  fill: #8DDCF6;
}

#pathGroup02:hover path {
  /* 주단위 경제협력위원회 */
  fill: #B5C0F6;
}

#pathGroup03:hover path {
  /* 한-미 중서부 경제협력위원회 */
  fill: #A4D235;
}

#pathGroup04:hover path {
  /* 한-미 중남부 경제협력위원회 */
  fill: #34C281;
}
#pathGroup05:hover path {
  /* 한-미 동남부 경제협력위원회 */
  fill: #F38897;
}

#pathGroup06:hover path {
  /* 한-뉴 잉글랜드 경제협력위원회 */
  fill: #E465C6;
}
.contractWrap_mobile {
  display: none;
  width: 430px;
  min-width: 300px;
  margin: 40px auto;
}
.contractWrap_mobile .contractMap ul{
  text-align: center;
  line-height: 25px;
}
.contractWrap_mobile .contractMap,
.contract_table table{
  margin-top: 40px;
}
.contractWrap_mobile .contractMapImg img{
  max-width: 100%;
  height: auto;
}
.contract_table{
  min-width: 300px;
}
.contract_table>p{
  text-align: center;
}
.contract_table thead{
  border-bottom: none;
}
.contract_table tbody td{
  vertical-align: middle;
}
.contract_table tbody tr td:nth-of-type(3){
  width: 100%;
}

@media(max-width:960px) {
  .contractWrap_mobile {
    display: block;
  }

  .contractWrap_web {
    display: none;
  }

  .contractTitle {
    width: 430px;
    min-width: 300px;
  }

}

@media(max-width:480px) {
  .contractTitle,
  .contractWrap_mobile,
  .contractWrap_mobile .contractMap ul{
    width: 100%;
    max-width: 430px;
    min-width: 300px;
  }
  
  .contractWrap_mobile .contractMap ul{
    /* font-size: 10px; */
    font-size: 0.714rem;
  }
}