<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Korea-U.S. Economic Council.Inc</title>
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_newReset.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_common.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_img-icon.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_basicStyle.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_responsiveStyle.css">
    <script src="/project_kusec/resources/js/jquery-3.1.1.js"></script>
	<script src="/project_kusec/resources/js/common.js"></script>
</head>

<body>
	 <!-- header -->
    <!-- <? include '/project_kusec/view/includes/header_eng.html' ?> -->
    <div class="load-html" data-source="/project_kusec/view/includes/header_eng.html"></div>
	<section class="section_eng">
		<div class="contentBox info_interagency">
			<div class="fz40 mainTitle">Related Organizations</div>
			<div class="sec_banner">
				<div class="banner_box1">
					<h3 class="h3">Government Organizations</h3>
					<div class="d-flex flexWrap">
						<div class="banner_1">
							<a href="http://www.motie.go.kr/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_01.png" alt="산업통상자원부">
							</a>
							<p>Ministry of Trade, Industry and Energy</p>
						</div>
						<div class="banner_2">
							<a href="http://www.mosf.go.kr/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_02.png" alt="기획재정부">
							</a>
							<p>Ministry of Economy and Finance</p>
						</div>
						<div class="banner_3">
							<a href="http://www.mofa.go.kr/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_03.png" alt="외교부">
							</a>
							<p>Ministry of Foreign Affairs</p>
						</div>
					</div>
				</div>
				<div class="banner_box2">
					<h3 class="h3">Economic &#38; Business Organizations </h3>
					<div class="d-flex flexWrap">
						<div class="banner_4">
							<a href="http://www.kita.net/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_04.png" alt="한국무역협회">
							</a>
							<p>Korea International Trade Association (KITA)</p>
						</div>
						<div class="banner_5">
							<a href="http://www.korcham.net/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_05.png" alt="대한상공회의소">
							</a>
							<p>Korea Chamber of Commerce &#38; Industry (KCCI)</p>
						</div>
						<div class="banner_6">
							<a href="http://www.fki.or.kr/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_06.png" alt="전국경제인연합회">
							</a>
							<p>Federation of Korean Industries (FKI)</p>
						</div>
						<div class="banner_8">
							<a href="http://kama.or.kr/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/project_kusec/resources/img/sub_08.png" alt="한국자동차공업협회">
							</a>
							<p>Korea Automobile Manufacturers Association (KAMA)</p>
						</div>
						<div class="banner_9">
							<a href="http://www.forca.org/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_09.png" alt="한국외국기업협회">
							</a>
							<p>Korea Foreign Company Association (FORCA)</p>
						</div>
						<div class="banner_10">
							<a href="https://www.kbiz.or.kr/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_10.png" alt="중소기업중앙회">
							</a>
							<p>Korea Federation of Small and Medium Business (K-biz)</p>
						</div>
						<div class="banner_17">
							<a href="http://koramas.or.kr/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_17.png"
									alt="Korea-America Association (KORAMAS)">
							</a>
							<p>Korea-America Association (KORAMAS)</p>
						</div>
					</div>
				</div>
				<div class="banner_box3">
					<h3 class="h3">Korea-based US Organizations </h3>
					<div class="d-flex flexWrap">
						<div class="banner_11">
							<a href="https://kr.usembassy.gov/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_11.png" alt="주한미국대사관">
							</a>
							<p>Embassy of the United States of America</p>
						</div>
						<div class="banner_12">
							<a href="http://www.amchamkorea.org/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_12.png" alt="주한미국상공회의소">
							</a>
							<p>American Chamber of Commerce in Korea (AMCHAM)</p>
						</div>
						<div class="banner_13">
							<a href="http://asok.or.kr/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_13.png" alt="주한미국주정부대표부협회">
							</a>
							<p>Association of American State Offices in Korea (ASOK)</p>
						</div>
					</div>
				</div>
				<div class="banner_box4">
					<h3 class="h3">Research Institutions</h3>
					<div class="d-flex flexWrap">
						<div class="banner_14">
							<a href="http://www.kiep.go.kr/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_14.png" alt="대외경제정책연구원">
							</a>
							<p>Korea Institute for International Economic Policy (KIEP)</p>
						</div>
						<div class="banner_15">
							<a href="https://www.kiet.re.kr/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_15.png" alt="산업연구원">
							</a>
							<p>Korea Institute for Industrial Economics &#38; Trade (KIET)</p>
						</div>
						<div class="banner_16">
							<a href="http://www.kdi.re.kr/" target="_blank" rel="noopener noreferrer">
								<img src="/project_kusec/resources/img/sub_16.png" alt="한국개발연구원">
							</a>
							<p>Korea Development Institute (KDI)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
    <!-- footer -->
    <!-- <? include '/project_kusec/view/includes/footer_eng.html' ?> -->
    <div class="load-html" data-source="/project_kusec/view/includes/footer_eng.html"></div>
</body>

</html>