<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Korea-U.S. Economic Council.Inc</title>
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_newReset.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_common.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_img-icon.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_basicStyle.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_responsiveStyle.css">
    <script src="/project_kusec/resources/js/jquery-3.1.1.js"></script>
</head>

<body>
      <!-- header -->
    <!-- <? include '/project_kusec/view/includes/header_eng.html' ?> -->
    <div class="load-html" data-source="/project_kusec/view/includes/header_eng.html"></div>

    <section class="section_eng">
        <div class="contentBox kusec_conference">
            <div class="fz40 mainTitle">Introduction</div>
            <div class="margin-top40">
                The Korea-US Economic Council (KUSEC) was founded in 1973 under "Article 26 for the Establishment of Non-profit Organizations" of the Economic Planning Board (predecessor to Ministry of Economy and Finance). At the request of the Korean government, three key economic organizations headed by KITA came together to create KUSEC. KUSEC’s mission is to boost mutual understanding and to strengthen economic ties between the US and Korea. Against this backdrop, the organization is committed to bolstering trade, investment, and technological cooperation and strengthening economic exchanges. 
            </div>
            <div class="introBoxContainer d-flex flexWrap">
                <div class="introBox imgBox">
                    <div class="imgCrop">
                        <img src="/project_kusec/resources/img/kusec_conferencePic01.jpg" alt="background">
                    </div>
                    <div class="picTitle">
                        <div class="fz20">KOREA - U.S. Economic Council</div>
                    </div>
                </div>
            </div>
            
            
            <div>
                KUSEC is the only private economic organization working exclusively with the US, and it is Korea’s counterpart to the fifty federal state  governments of the US. Similarly, it can serve as a bridge between the US federal governments and Korea’s local governments. On the issues arising other hand, it also functions as a buffer in cases of trade conflicts between Korea and the US. Beyond the economic sphere, KUSEC also supports programs for Korean students studying in the US and for Korean government officials based in the US. 
            </div>
        </div>
    </section>
    
    <!-- footer -->
    <!-- <? include '/project_kusec/view/includes/footer_eng.html' ?> -->
    <div class="load-html" data-source="/project_kusec/view/includes/footer_eng.html"></div>
    <script>
        $(document).ready(function(){
            $(".load-html").each(function () {
                $(this).load(this.dataset.source);
            });
         });
    </script>	
</body>
</html>