<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Korea-U.S. Economic Council.Inc</title>
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_newReset.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_common.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_img-icon.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_basicStyle.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_responsiveStyle.css">
    <script src="/project_kusec/resources/js/jquery-3.1.1.js"></script>
    <script src="/project_kusec/resources/js/common.js"></script>
</head>

<body>
    <!-- header -->
    <!-- <? include '/project_kusec/view/includes/header_eng.html' ?> -->
    <div class="load-html" data-source="/project_kusec/view/includes/header_eng.html"></div>

    <section class="section_eng">
        <div class="contentBox kusec_contract">
            <div class="contractTitle fz18">
                Joint committee for Economic Cooperation with US
            </div>

            <!-- contract_map -->
            <!-- <? include '/project_kusec/view/includes/contract_map.html' ?> -->
            <div class="load-html" data-source="/project_kusec/view/includes/contract_map.html"></div>

            <div class="contract_table">
                <!-- <p><span></span>MOUs with US Federal Governments</p> -->
                <table summary="MOUs with US Federal Governments">
                    <caption class="kusec-fc_point">MOUs with US Federal Governments</caption>
                    <colgroup>
                        <col width="10%">
                        <col width="20%">
                        <col width="70%">
                        <!-- <col width="30%"> -->
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Date Signed</th>
                            <th>Signatory State</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1979.11.12</td>
                            <td>Wisconsin</td>
                            <td>Midwestern Governor‘s conference (‘03.09.22~30)</td>
                        </tr>
                        <tr>
                            <td>1980.12.03</td>
                            <td>Washington</td>
                            <td>Investing in Washington State Seminar (‘08)</td>
                        </tr>
                        <tr>
                            <td>1980.12.09</td>
                            <td>Oregon</td>
                            <td>Korea-U.S. Pacific States Joint Conference(‘02~‘09)</td>
                        </tr>
                        <tr>
                            <td>1981.11.25</td>
                            <td>Florida</td>
                            <td>7 South East US States Delegation Business Meeting (‘86~‘08)</td>
                        </tr>
                        <tr>
                            <td>1982.11.08</td>
                            <td>South Carolina</td>
                            <td>7 South East US States Delegation Business Meeting (‘86~‘08)</td>
                        </tr>
                        <tr>
                            <td>1983.11.22</td>
                            <td>Minnesota</td>
                            <td>Investment and Trade Briefing at the State of Minnesota (‘11.09.28)</td>
                        </tr>
                        <tr>
                            <td>1987.08.87</td>
                            <td>Kentucky</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1988.05.02</td>
                            <td>New Jersey</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1988.05.09</td>
                            <td>Kansas</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1988.05.09</td>
                            <td>Missouri</td>
                            <td>Luncheon for the Commissioner of Trade and Investment at the State of Missouri
                                (‘11.4.14)</td>
                        </tr>
                        <tr>
                            <td>1988.07.21</td>
                            <td>Indiana</td>
                            <td>Welcome Banquet for the Delegation of the Governor of Indiana (‘06.06)</td>
                        </tr>
                        <tr>
                            <td>1988.08.04</td>
                            <td>California</td>
                            <td>Korea-U.S. Pacific States Joint Conference (‘02~‘09)</td>
                        </tr>
                        <tr>
                            <td>1988.08.18</td>
                            <td>Nevada</td>
                            <td>Welcome Banquet for the Delegation of the Governor of Nevada (‘12.09.28)</td>
                        </tr>
                        <tr>
                            <td>1989.08.29</td>
                            <td>Alaska</td>
                            <td>Korea-U.S. Pacific States Joint Conference (‘02~‘07)</td>
                        </tr>
                        <tr>
                            <td>1990.01.13</td>
                            <td>Iowa</td>
                            <td>Luncheon with the Governor and the Delegation of Iowa (‘15.09.10)</td>
                        </tr>
                        <tr>
                            <td>1990.01.30</td>
                            <td>Utah</td>
                            <td>
                                Pharmaceutical & Bio Industry Delegation
                                (ID, WA, UT) on (2007.10)
                            </td>
                        </tr>
                        <tr>
                            <td>1991.09.02</td>
                            <td>Massachusetts</td>
                            <td>Korea-US Economic Council Delegation (1993.6.8~11)</td>
                        </tr>
                        <tr>
                            <td>1990.09.20</td>
                            <td>Texas</td>
                            <td>A series of correspondence with the Ministry of Foreign Affairs and Trade about the
                                Korea-Texas Economic Cooperation Council (‘06.01.01)</td>
                        </tr>
                        <tr>
                            <td>1997.10.27</td>
                            <td>Rhode Island</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>2005.02.15</td>
                            <td>Maryland</td>
                            <td>Breakfast with the Governor of Maryland (‘15.05.29)</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <p><span></span>MOUs with US Regions </p> -->
                <table summary="MOUs with US Regions">
                    <caption class="kusec-fc_point">MOUs with US Regions</caption>
                    <colgroup>
                        <col width="10%">
                        <col width="20%">
                        <col width="40%">
                        <col width="30%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Date Signed</th>
                            <th>Signatory Organization</th>
                            <th>Details</th>
                            <th>Participating States</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1984.06.22</td>
                            <td>
                                KOREA-U.S. Midwestern Economic Cooperation Committee
                            </td>
                            <td>Midwestern Governor’s Conference (2003.9.22~30)</td>
                            <td>
                                Illinois, Indiana, Iowa, Kansas, Kentucky, Michigan, Minnesota, Missouri, Nebraska,
                                North Dakota, Ohio, South Dakota, Wisconsin
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">1985.10.17</td>
                            <td rowspan="2">Southeast U.S.-Korea Economic Committee</td>
                            <td>
                                7 Southeast US States Delegation Business Meeting (19́86~08,13)
                            </td>
                            <td rowspan="2">Alabama, Georgia, South Carolina, Commonwealth of Virginia, Florida, North
                                Carolina, Tennessee</td>
                        </tr>
                        <tr>
                            <td class="hideTable">Georgia Investment Promotion Seminar (2008)</td>
                        </tr>
                        <tr>
                            <td>1987.05.07</td>
                            <td>The Mid-South United States</td>
                            <td>-</td>
                            <td>Arkansas, Louisiana, Mississippi, Oklahoma</td>
                        </tr>
                        <tr>
                            <td>1993.06.09</td>
                            <td>The New England States</td>
                            <td>-</td>
                            <td>Maine, The Commonwealth of Massachusetts, New Hampshire, Vermont</td>
                        </tr>
                        <tr>
                            <td rowspan="2">2001.06.05</td>
                            <td rowspan="2">The Pacific U.S. States</td>
                            <td>
                                Korea-U.S. Pacific States Joint Conference (2002~2009, 2013)
                            </td>
                            <td rowspan="2">Alaska, California Hawaii, Oregon and Washington</td>
                        </tr>
                        <tr>
                            <td class="hideTable">
                                Investing in Washington State Seminar (2008)
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>2005.10.13</td>
                            <td>The Pacific U.S. states</td>
                            <td>Korea-U.S. Pacific States Joint Conference (‘02~‘09,‘13)</td>
                            <td>Alaska, California, Hawaii, Oregon and Washington</td>
                        </tr> -->
                    </tbody>
                </table>
                <!-- <p><span></span>MOUs with Economic and Trade Organizations</p> -->
                <table summary="MOUs with Economic and Trade Organizations">
                    <caption class="kusec-fc_point">MOUs with Economic and Trade Organizations
                    </caption>
                    <colgroup>
                        <col width="10%">
                        <col width="20%">
                        <col width="70%">
                        <!-- <col width="30%"> -->
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Date Signed</th>
                            <th>Signatory Organization</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2013.10.02</td>
                            <td>Bay Area Council in San Francisco</td>
                            <td>Economic Cooperation Delegation to the US Pacific States &#38; Hosting of Joint-events
                                (2013.09.29.~10.06)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- footer -->
    <!-- <? include '/project_kusec/view/includes/footer_eng.html' ?> -->
    <div class="load-html" data-source="/project_kusec/view/includes/footer_eng.html"></div>
</body>

</html>