<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Korea-U.S. Economic Council.Inc</title>
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_newReset.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_common.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_img-icon.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_basicStyle.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_responsiveStyle.css">
    <script src="/project_kusec/resources/js/jquery-3.1.1.js"></script>
    <script src="/project_kusec/resources/js/common.js"></script>
</head>

<body>
     <!-- header -->
    <!-- <? include '/project_kusec/view/includes/header_eng.html' ?> -->
    <div class="load-html" data-source="/project_kusec/view/includes/header_eng.html"></div>

    <section class="section_eng">
        <div class="contentBox kusec_history">
            <div class="fz40 mainTitle">History</div>
            <div class="Confe_box">
                <div class="confe_ul">
                    <ul>
                        <li class="d-flex">
                            <div class="time">2009</div>
                            <div class="month">August</div>
                            <div class="text_last"><span>The 7th Korea-U.S. Pacific 6 States Joint Conference</span>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li class="d-flex">
                            <div class="time">2008</div>
                            <div class="month">April</div>
                            <div class="text_last"><span>The 19th Korea-U.S.Midwestern Governor’s conference</span>
                            </div>
                        </li>
                        <li class="d-flex">
                            <div class="time"></div>
                            <div class="month month_11">November</div>
                            <div class="text_last"><span>The 6th Korea-U.S. Pacific 6 States Joint Conference</span>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li class="d-flex">
                            <div class="time">2007</div>
                            <div class="month">March</div>
                            <div class="text_last"><span>The 18th Korea-U.S.Midwestern Governor’s conference</span>
                            </div>
                        </li>
                        <li class="d-flex">
                            <div class="time"></div>
                            <div class="month month_10">October</div>
                            <div class="text_last"><span>The 15th Korea-U.S. Pacific 6 States Joint Conference</span>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li class="d-flex">
                            <div class="time">2006</div>
                            <div class="month">October</div>
                            <div class="text_last"><span>The 4th Korea-U.S. Pacific States Joint Conference</span></div>
                        </li>
                    </ul>
                    <ul>
                        <li class="d-flex">
                            <div class="time">2005</div>
                            <div class="month m_month">October</div>
                            <div class="text_last"><span>The 3rd Korea-U.S. Pacific 5 States Joint Conference</span>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li class="d-flex">
                            <div class="time">2003</div>
                            <div class="month">April</div>
                            <div class="text_last"><span>The 2nd Korea-U.S. Pacific 6 States Joint Conference</span>
                            </div>
                        </li>
                        <li class="d-flex">
                            <div class="time"></div>
                            <div class="month month_11_2">November</div>
                            <div class="text_last"><span>The 17th Korea-U.S. Midwestern Governor’s conference</span>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li class="d-flex">
                            <div class="time">2002</div>
                            <div class="month">June</div>
                            <div class="text_last"><span>Inauguration of Korea- US Pacific States Joint
                                    Conference</span></div>
                        </li>
                    </ul>
                    <ul>
                        <li class="d-flex">
                            <div class="time">2001</div>
                            <div class="month">July</div>
                            <div class="text_last"><span>
                                    Signing of the Korea-US Pacific States Economic Cooperation Agreements and Agreement
                                    for Annual Hosting of Korea-US Pacific States Joint Conference
                                </span></div>
                        </li>
                    </ul>
                    <ul>
                        <li class="d-flex">
                            <div class="time">1987</div>
                            <div class="month">August</div>
                            <div class="text_last"><span>Meeting to choose the Korean promoter for the Korea-US Business
                                    Council</span></div>
                        </li>
                    </ul>
                    <ul>
                        <li class="d-flex">
                            <div class="time">1985</div>
                            <div class="month">October</div>
                            <div class="text_last"><span>7 Southeast East US States Delegation Business Meeting
                                    (AL, FL, GA, NC, SC, TN, VA) ECA</span></div>
                        </li>
                        <li class="d-flex">
                            <div class="time"></div>
                            <div class="month month_05 m_month">May</div>
                            <div class="text_last"><span>Signing of MOU for economic cooperation with 7 Southeast
                                    states</span></div>
                        </li>
                        <li class="d-flex">
                            <div class="time"></div>
                            <div class="month month_06 m_month">June</div>
                            <div class="text_last"><span>
                                    Founding of the KUSEC Inauguration Committee (assigned to Subcommittee)
                                </span></div>
                        </li>
                    </ul>
                    <ul class="m_ul">
                        <li class="d-flex">
                            <div class="time">1973</div>
                            <div class="month">August</div>
                            <div class="text_last"><span>
                                    Approval for articles of organization, business plan, and budget at Inaugural
                                    Meeting<br>
                                    (Approved articles of organization, business plan, and budget, and then named the Board of Directors and the Chairman)
                                </span></div>
                        </li>
                        <li class="d-flex">
                            <div class="time"></div>
                            <div class="month month_09 m_month">September</div>
                            <div class="text_last"><span>
                                Approval by the Minister of Economic Planning
                                Board to establish KUSEC in accordance to “Article 26 for the Establishment of Non-profit Organizations”
                                </span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <!-- footer -->
    <!-- <? include '/project_kusec/view/includes/footer_eng.html' ?> -->
    <div class="load-html" data-source="/project_kusec/view/includes/footer_eng.html"></div>
</body>

</html>