<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Korea-U.S. Economic Council.Inc</title>
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_newReset.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_common.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_img-icon.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_basicStyle.css">
    <link rel="stylesheet" href="/project_kusec/resources/css/kusec_responsiveStyle.css">
    <script src="/project_kusec/resources/js/jquery-3.1.1.js"></script>
</head>

<body>
    <!-- header -->
    <!-- <? include '/project_kusec/view/includes/header_eng.html' ?> -->
    <div class="load-html" data-source="/project_kusec/view/includes/header_eng.html"></div>

    <content class="mainContainer">
        <article class="guideLayout aboutKusec">
            <div class="fz40 mainTitle">
                About KUSEC
            </div>
            <div class="sectionWrap d-flex">
                <div class="kusecBox introduction">
                    <a href="/project_kusec/view/kusec/conference.html">
                        <div class="imgBox">
                            <div class="imgCrop">
                                <img src="/project_kusec/resources/img/main-eng_about01.jpg" alt="Introduction">
                            </div>
                            <div class="picTitle h2">
                                Introduction
                            </div>
                        </div>
                        <div class="textBox">
                            <p class="hiddenText">
                                KUSEC is the only private economic organization working exclusively with the US, and it
                                is Korea’s counterpart to the fifty federal governments of the US.
                            </p>
                            <div class="kusec-fc_point btn_detailView">Detail View →</div>
                        </div>
                    </a>
                </div>
                <div class="kusecBox history">
                    <a href="/project_kusec/view/kusec/history.html">
                        <div class="imgBox">
                            <div class="imgCrop">
                                <img src="/project_kusec/resources/img/main-eng_about02.jpg" alt="History">
                            </div>
                            <div class="picTitle h2">
                                History
                            </div>
                        </div>
                        <div class="textBox">
                            <p class="hiddenText">
                                The Korea-US Economic Council (KUSEC) was founded in 1973 under "Article 26 for the
                                Establishment of Non-profit Organizations" of the Economic Planning Board (predecessor
                                to Ministry of Economy and Finance).
                            </p>
                            <div class="kusec-fc_point btn_detailView">Detail View →</div>
                        </div>
                    </a>
                </div>
            </div>

        </article>
        <article class="contactKusec">
            <a href="/project_kusec/view/membership/inquiry.html">
                <div class="imgBox">
                    <div class="imgCrop">
                        <img src="/project_kusec/resources/img/main-eng_contact.jpg" alt="contactKusec">
                    </div>
                    <div class="picTitle">
                        <div class="wideLayout">

                            <div class="h2">Contact KUSEC</div>
                            <div class="contactWrap">
                                <div>
                                    47F, Trade Tower, 511 Yeongdong-dearo, Gangnam-gu, Seoul 06164, KOREA
                                </div>
                                <div>
                                    E-mail : kusec@kita.net&nbsp;|&nbsp;TEL : +82-2-6000-5357&nbsp;|&nbsp;FAX :
                                    +82-2-6000-5823
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </article>
        <article class="guideLayout keyActivities">
            <div class="fz40 mainTitle">
                key Activities
            </div>
            <div class="sectionWrap d-flex">
                <div class="keyBox">
                    <div class="iconWrap kusec-bgc_point">
                        <div class="img-icon network"></div>
                    </div>
                    <div class="keyTitle kusec-fc_point">Network</div>
                    <div class="keyText hiddenText">
                        The Southeast US – Korea Economic Committee
                    </div>
                </div>
                <div class="keyBox">
                    <div class="iconWrap kusec-bgc_point">
                        <div class="img-icon people"></div>
                    </div>
                    <div class="keyTitle kusec-fc_point">People</div>
                    <div class="keyText hiddenText">
                        Networking opportunities with key figures from the US (Congress, Government and prominent tanks)
                    </div>
                </div>
                <div class="keyBox">
                    <div class="iconWrap kusec-bgc_point">
                        <div class="img-icon exchange"></div>
                    </div>
                    <div class="keyTitle kusec-fc_point">Exchange</div>
                    <div class="keyText hiddenText">
                        Fostering economic exchange and ties between Korea and the US states
                    </div>
                </div>
                <div class="keyBox">
                    <div class="iconWrap kusec-bgc_point">
                        <div class="img-icon culture"></div>
                    </div>
                    <div class="keyTitle kusec-fc_point">Culture</div>
                    <div class="keyText hiddenText">
                        Supporting cultural and academic exchanges between the US and Korea
                    </div>
                </div>
            </div>
            <div class="btn_default btn_detailView">
                <a href="/project_kusec/view/project/introduce.html">Detail View →</a>
            </div>
        </article>
        <article class="relatedOrganizations">
            <div class="imgBox">
                <div class="imgCrop">
                    <img src="/project_kusec/resources/img/main-eng_relatedOrganizations.jpg"
                        alt="relatedOrganizations">
                </div>
            </div>
            <div class="picTitle">
                <div class="wideLayout ">
                    <div class="h2">Related Organizations</div>
                    <div class="d-flex justify_center buttonWrap">
                        <div class="btn_clearWhite btn_detailView">
                            <a href="/project_kusec/view/info/interagencyKo.html">Detail View →</a>
                        </div>
                        <!-- <div class="btn_clearWhite"><a href="<c:url value='/eng/info/interagency/ko' />">Korea</a></div>
                    <div class="btn_clearWhite"><a href="<c:url value='/eng/info/interagency/us' />">U.S.</a></div> -->
                    </div>
                </div>
            </div>
        </article>
        <article class="guideLayout USNetwork">
            <div class="fz40 mainTitle">
                U.S. Network
            </div>
            <div class="sectionWrap">
                <!-- contract_map -->
                <!-- <? include '/project_kusec/view/includes/contract_map.html' ?> -->
                <div class="load-html" data-source="/project_kusec/view/includes/contract_map.html"></div>
            </div>
            <div class="btn_default btn_detailView">
                <a href="/project_kusec/view/kusec/contract.html">Detail View →</a>
            </div>
        </article>
    </content>

    <!-- footer -->
    <!-- <? include '/project_kusec/view/includes/footer_eng.html' ?> -->
    <div class="load-html" data-source="/project_kusec/view/includes/footer_eng.html"></div>
    <script>
        $(document).ready(function () {
            $(".load-html").each(function () {
                $(this).load(this.dataset.source);
            });
        });
    </script>
</body>

</html>